modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn workspace @famme/web dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_ACCESS_SECRET = "EcS0uylZn+tMJsafxCsvAskstkLxQKEiQDBJFnOLFGqHy1bS4QT70NDi1otEaVATdaTOMJAvZxKRzgcOsn7xvw=="
JWT_REFRESH_SECRET = "5xHE4XkcW8zwpiHLXIZudt9emOIHIOulnfZ0/nChQEhJVj8wvxHJny4xgxr5aqPT5NLsvUil78WAn/D3j0EWTA=="

[deployment]
deploymentTarget = "cloudrun"
